# CORE
editdistance

# TERMINAL
tabulate >= 0.7.7

# CACHE, will use py-lxml instad from pkg manager
# lxml

# PSQL
psycopg2
Flask-SQLAlchemy
#Flask-Migrate
#flask-admin

# MONGO
# pymongo
# bson
# json_delta

# FLASK
flask
flask-cors
#flask-httpauth

# DEPLOYMENT
gunicorn

# GRAPH
#bokeh
#python-dateutil
#MarkupSafe
#numpy
#pandas
#pytz

# ADD YOUR CATAGEORY
# if necessary
